# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Uploaded Media
media/

# Collected Static Files
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db